@model IEnumerable<AceAdmin.Web.Models.WorkerModel>
@{
    ViewBag.Title = "WorkerList";
}
<div class="row">
    <div class="col-xs-12">
        <!-- div.dataTables_borderWrap -->
        <div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="myTable">
                <thead>
                    <tr>
                        <th width="110">ID</th>
                        <th>Work Name</th>
                        <th>IC Number</th>
                        <th>Phone</th>
                        <th>Salary</th>
                        <th class="text-center" width="100">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.nWorkID)</td>
                            <td>@Html.DisplayFor(modelItem => item.cWorkName)</td>
                            <td>@Html.DisplayFor(modelItem => item.cICnumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.cPhoneNum)</td>
                            <td>@Html.DisplayFor(modelItem => item.nSalary)</td>
                            <td class="text-center">
                                <a class="green" href="#modal-table" onclick="javascript: editData('@Html.DisplayFor(modelItem => item.nWorkID)')" data-toggle="modal">
                                    <i class="ace-icon fa fa-pencil"></i>
                                </a> |
                                <a href="javascript:;" onclick="javascript: delData('@Html.DisplayFor(modelItem => item.nWorkID)', '@Html.DisplayFor(modelItem => item.cWorkName)')" class="tooltip-success" data-rel="tooltip" title="Delete">
                                    <span class="red"><i class="ace-icon fa fa-trash-o bigger-130"></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section PagePluginScripts {
    <script type="text/javascript" src="~/assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="~/assets/js/dataTables.colVis.min.js"></script>
}

@section PageInlineScripts {
    <script type="text/javascript">
        jQuery(function ($) {
            var oTable1 =
            $('#myTable').dataTable();
        })
    </script>
}